body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('http://fonds.toutimages.com/fo_bleuclair/bleucla_400.jpg')
}

.header{
    height: 10%;
    width: 100%;
    background-color: royalblue;
    color: white;
    padding: 10px 0;
    line-height: 2;
    text-align: center;
    margin: 0;
}

.logoImage{
    width: 25px;
}

.trashLogo{
    width: 20px;
    position: absolute;
    right: 1%;

}

.content{
    
    width: 100%;
    height: auto;
    
    
}
.container img {
    height:15px;
    vertical-align: middle;
    opacity: 0.6;
    padding: 5px;
}

#inputActivity{
    width: 600px;
    height: 40px;
    border-radius: 50px;
    margin: 20px;
    
}

.divList{
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 50px;
    margin: 5px;

}

.press {
    border: 1px solid rgb(117, 116, 116);
    color: gray;
    background-color: rgb(224, 220, 220);
}

.doneButton{
    width: 600px;
    height: 40px;
    border-radius: 50px;
    margin: 20px;
    background-color: white;
    vertical-align: middle;
    text-align: center;
    box-shadow: 2px 3px  rgb(226, 225, 225);
}



